*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

input[readonly]{
    background-color: rgba(62, 230, 132, 0.87);
    color:black;
    
}

/*.custom-input {
    outline: none;
  }
  
  .custom-input:focus {
    outline-color: red;
  }*/

  .custom-input {
    outline: 1px solid #ccc;
  }
  
  .custom-input-focus {
    outline-color: rgb(211, 51, 51);
  }